@model Blog
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            @await Component.InvokeAsync("CategoryMenu")
        </div>
        <div class="col-md-9">

            <div class="card">
                <div class="card-header">
                    @Model.Title
                </div>
                <img src="~/img/@Model.Image" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">@Model.Title</h5>
                    <p class="card-text">@Model.Description</p>
                    <p class="card-text">@Html.Raw( Model.Body )</p>
                    <br />
                    <h6>@Model.Date</h6>
                </div>
            </div>

        </div>
    </div>
</div>

