@model IEnumerable<Blog>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2>Blog list</h2>
    <hr /> 
    <div>
        <a class="btn btn-primary" asp-controller="Blog" asp-action="AddOrEdit">Create new</a>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            @if (Model.Count() > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Image</th>
                            <th scope="col">Title</th>
                            <th scope="col">Date</th>
                            <th scope="col">Is approved</th>
                            <th scope="col">Is home</th>
                            <th scope="col">Is slider</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.BlogId</td>
                            <td>
                                <img src="~/img/@item.Image" width="100" />
                            </td>
                            <td>@item.Title</td>
                            <td>@item.Date</td>
                            <td>
                                @if (item.isApproved == true)
                                {
                                    <i class="fa fa-check" style="color:lawngreen" aria-hidden="true"></i>
                                }
                                else
                                {
                                    <i class="fa fa-times" style="color:red" aria-hidden="true"></i>
                                }
                            </td>
                            <td>
                                @if (item.isHome == true)
                                {
                                    <i class="fa fa-check" style="color:lawngreen" aria-hidden="true"></i>
                                }
                                else
                                {
                                    <i class="fa fa-times" style="color:red" aria-hidden="true"></i>
                                }
                            </td>
                            <td>
                                @if (item.isSlider == true)
                                {
                                    <i class="fa fa-check" style="color:lawngreen" aria-hidden="true"></i>
                                }
                                else
                                {
                                    <i class="fa fa-times" style="color:red" aria-hidden="true"></i>
                                }
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" asp-controller="Blog" asp-action="AddOrEdit" asp-route-id="@item.BlogId">
                                    Details
                                </a>
                                <a class="btn btn-danger btn-sm" asp-controller="Blog" asp-action="Delete" asp-route-id="@item.BlogId">
                                    Delete
                                </a>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-danger">
                    Blog Eklenmemis
                </div>
            }
        </div>
    </div>
</div>
